/* ------------- Start Navbar ------------- */
.navbar-rm {
  background-color: #f9c231;
  color: black;
}

.hamburger-menu i {
  font-size: 1.5rem;
}

.user-icon,
.cart-icon {
  background-color: transparent;
  border: 1px solid transparent;
  color: black;
  font-size: 1.5rem;
}

.user-icon:hover,
.cart-icon:hover {
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
}

.user-icon:focus,
.cart-icon:focus {
  background-color: transparent;
  border: 1px solid transparent;
  box-shadow: none;
  color: white;
}

.menu-items li a {
  color: black;
}

.menu-items li a:hover {
  color: white;
}

.menu-items li a:focus {
  color: white;
}

.products-menu ul {
  background-color: #f9c231;
}

.products-menu ul li a:hover {
  background-color: #f9c231;
}

.search-bar-container {
  margin-top: 1rem;
}

.search-button {
  background-color: #198754;
  color: white;
}

.search-button:hover {
  opacity: 0.9;
}

/*? --------- Media Queries --------- */

@media (min-width: 900px) {
  .navbar-container {
    display: grid !important;
    grid-template-areas: "logo logo logo menu menu menu menu menu user user cart cart";
    justify-content: normal !important;
  }
  .logo-rm {
    grid-area: logo;
  }
  .user-icon {
    grid-area: user;
  }
  .cart-icon {
    grid-area: cart;
  }
  .hamburger-menu {
    display: none;
  }
  .menu-items {
    grid-area: menu;
    display: flex !important;
  }
  .menu-items-list {
    flex-direction: row;
  }
  .menu-items-list li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .search-bar-container {
    margin-top: 0;
  }
}

/* ------------- End Navbar ------------- */
/* ------------- Start Footer ------------- */
footer {
  background-color: #304269;
  padding: 20px;
}

.footer-info-color {
  color: white;
}

.footer-info-items {
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer-info-items div p {
  margin: 0;
}

.footer-info-items div a {
  text-decoration: none;
  color: white;
}
/* ------------- End Footer ------------- */
