/* General Styles */
body {
  background-color: #ced1d9;
  font-family: "Chivo", sans-serif;
}
/* ------------- Start Navbar ------------- */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.logo-rm img {
  width: 100px;
  height: 50px;
}
.navbar-rm {
  background-color: #f9c231;
  color: black;
}

.hamburger-menu i {
  font-size: 1.5rem;
}

.user-icon,
.cart-icon {
  background-color: transparent;
  border: 1px solid transparent;
  color: black;
  font-size: 1.5rem;
}

.user-icon:hover,
.cart-icon:hover {
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
}

.user-icon:focus,
.cart-icon:focus {
  background-color: transparent;
  border: 1px solid transparent;
  box-shadow: none;
  color: white;
}

/* Start Cart */

.product-in-cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
}

.product-in-cart p {
  margin: 0;
}

.view-cart-button,
.view-cart-button:focus {
  background-color: #198754;
  border: 1px solid #198754;
}

.view-cart-button:hover {
  background-color: #198754;
  border: 1px solid #198754;
  color: white;
  opacity: 0.9;
}

.view-cart-button a {
  text-decoration: none;
  color: white;
}
/* End Cart */

.menu-items li a {
  color: black;
}

.menu-items li a:hover {
  color: white;
}

.menu-items li a:focus {
  color: white;
}

.products-menu ul {
  background-color: #f9c231;
}

.products-menu ul li a:hover {
  background-color: #f9c231;
}

.search-bar-container {
  margin-top: 1rem;
}

.search-button {
  background-color: #198754;
  color: white;
}

.search-button:hover {
  opacity: 0.9;
}
/* ------------- End Navbar ------------- */
/* ------------- Start Cart Page ------------- */
.empty-cart {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty-cart-subtotal {
  font-weight: bold;
}
.cart-products {
  display: flex;
  flex-direction: column;
}
.cart-product {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 1rem;
}
.cart-product p {
  margin: 0;
}
.cart-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid gray;
}
.cart-summary div {
  padding: 10px;
}
.total-summary {
  font-weight: bold;
}
.buy-cart,
.buy-cart:focus {
  background-color: #198754;
  border: 1px solid #198754;
}
.buy-cart:hover {
  background-color: #198754;
  border: 1px solid #198754;
  color: white;
  opacity: 0.9;
}
/* ------------- End Cart Page ------------- */
/* ------------- Start Footer ------------- */
footer {
  background-color: #304269;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: auto;
}
.card-footer {
  background-color: #ffffff;
  width: 80%;
  color: #6f6f6f;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 15px 0;
  justify-content: space-evenly;
}
.card-footer:nth-child(5) {
  border-radius: 10px;
}
.card-footer img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: cover;
}
.footer-card-title {
  width: 100%;
  color: #198754;
}
.footer-card-icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer-card-icons a {
  color: #198754;
}
/* ------------- End Footer ------------- */
/* ------------- Disabled Class ------------- */
.disabled {
  display: none;
}
/*? --------- Media Queries --------- */
@media (min-width: 768px) {
  .logo-rm img {
    width: 200px;
    height: 60px;
  }
  .empty-cart {
    font-size: 18px;
  }
  .cart-summary {
    flex-direction: row;
    justify-content: space-between;
  }
  footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .card-footer {
    width: 19%;
    height: 10rem;
    margin: 0;
  }
}
@media (min-width: 900px) {
  .logo-rm img {
    width: 300px;
    height: 70px;
  }
  .navbar-container {
    display: grid !important;
    grid-template-areas: "logo logo logo menu menu menu menu menu user user cart cart";
    justify-content: normal !important;
  }
  .logo-rm {
    grid-area: logo;
  }
  .user-icon {
    grid-area: user;
  }
  .cart-icon {
    grid-area: cart;
  }
  .hamburger-menu {
    display: none;
  }
  .menu-items {
    grid-area: menu;
    display: flex !important;
  }
  .menu-items-list {
    flex-direction: row;
  }
  .menu-items-list li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .search-bar-container {
    margin-top: 0;
  }
  .empty-cart {
    font-size: 24px;
  }
}
