body {
    background-color: rgb(198 201 207);
  }

  /* --- Slider Andrea --- */
  .carousel-item video {
    margin: 10px;
    width: 100%;
    height: 600px;
    object-position:center;
  }

/* --- Cards Andrea --- */


.card-container {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  background-color: #ffffff;
}

.card-container:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card-container img {
    width: auto;
    height: 220px;
    margin-top: 6px;
}

.btn.btn-primary1 {
    color: #fff;
    background-color: #198754;
}

/* --- End Cards --- */